<launch>
    <arg name="sitl_num" default="5" />
    <arg name="rc_script" default="rcS_multiple_gazebo_iris" />
    <arg name="gui" default="true" />
    <arg name="headless" default="false" />


    <node pkg="swarm_sitl_launcher" name="simulator" type="run_swarm.sh" args="$(arg sitl_num) $(arg rc_script) $(find px4) $(find swarm_sitl_launcher)" />

    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="headless" value="$(arg headless)"/>
        <arg name="gui" value="$(arg gui)"/>
        <arg name="world_name" value="$(find swarm_sitl_launcher)/world/iris.world" />
    </include>

    <include ns="drone1" file="$(find swarm_sitl_launcher)/launch/swarm_one_drone.launch">
        <arg name="fcu_url" value="udp://:15016@127.0.0.1:15011" />
        <arg name="model_name" value="iris_1" />
　　　　　　　　<arg name="FlightScriptPath" value="$(find swarm_sitl_launcher)/flight_script/drone1.json" />
    </include>

    <include ns="drone2" file="$(find swarm_sitl_launcher)/launch/swarm_one_drone.launch">
        <arg name="fcu_url" value="udp://:15026@127.0.0.1:15021" />
        <arg name="model_name" value="iris_2" />
	<arg name="FlightScriptPath" value="$(find swarm_sitl_launcher)/flight_script/drone2.json" />
    </include>

    <include ns="drone3" file="$(find swarm_sitl_launcher)/launch/swarm_one_drone.launch">
        <arg name="fcu_url" value="udp://:15036@127.0.0.1:15031" />
        <arg name="model_name" value="iris_3" />
	<arg name="FlightScriptPath" value="$(find swarm_sitl_launcher)/flight_script/drone3.json" />
    </include>

    <include ns="drone4" file="$(find swarm_sitl_launcher)/launch/swarm_one_drone.launch">
        <arg name="fcu_url" value="udp://:15046@127.0.0.1:15041" />
        <arg name="model_name" value="iris_4" />
	<arg name="FlightScriptPath" value="$(find swarm_sitl_launcher)/flight_script/drone4.json" />
    </include>

    <include ns="drone5" file="$(find swarm_sitl_launcher)/launch/swarm_one_drone.launch">
        <arg name="fcu_url" value="udp://:15056@127.0.0.1:15051" />
        <arg name="model_name" value="iris_5" />
	<arg name="FlightScriptPath" value="$(find swarm_sitl_launcher)/flight_script/drone5.json" />
    </include>

    <!--include ns="drone6" file="$(find swarm_sitl_launcher)/launch/swarm_one_drone.launch">
        <arg name="fcu_url" value="udp://:15066@127.0.0.1:15061" />
        <arg name="model_name" value="iris_6" />
　　　　　　　　<arg name="FlightScriptPath" value="$(find swarm_sitl_launcher)/flight_script/drone6.json" />
    </include>

    <include ns="drone7" file="$(find swarm_sitl_launcher)/launch/swarm_one_drone.launch">
        <arg name="fcu_url" value="udp://:15076@127.0.0.1:15071" />
        <arg name="model_name" value="iris_7" />
	<arg name="FlightScriptPath" value="$(find swarm_sitl_launcher)/flight_script/drone7.json" />
    </include>

    <include ns="drone8" file="$(find swarm_sitl_launcher)/launch/swarm_one_drone.launch">
        <arg name="fcu_url" value="udp://:15086@127.0.0.1:15081" />
        <arg name="model_name" value="iris_8" />
	<arg name="FlightScriptPath" value="$(find swarm_sitl_launcher)/flight_script/drone8.json" />
    </include>

    <include ns="drone9" file="$(find swarm_sitl_launcher)/launch/swarm_one_drone.launch">
        <arg name="fcu_url" value="udp://:15096@127.0.0.1:15091" />
        <arg name="model_name" value="iris_9" />
	<arg name="FlightScriptPath" value="$(find swarm_sitl_launcher)/flight_script/drone9.json" />
    </include>

    <include ns="drone10" file="$(find swarm_sitl_launcher)/launch/swarm_one_drone.launch">
        <arg name="fcu_url" value="udp://:15106@127.0.0.1:15101" />
        <arg name="model_name" value="iris_10" />
	<arg name="FlightScriptPath" value="$(find swarm_sitl_launcher)/flight_script/drone10.json" />
    </include-->


</launch>
