<launch>
    <node name="state_machine" pkg="state_machine" type="core" args="com.state_machine.core.StateMachineNode" >
        <param name="FlightScriptPath" value="/home/firefly/catkin_ws/src/onboard_statemachine/flight_script/test_flight.json" />
        <param name="PropertiesPath" value="/home/firefly/workspace/DroneProject/drone-control/src/state_machine/core/src/main/java/com/state_machine/core/providers/config.properties" />
    </node>
</launch>