<launch>
    <node pkg="raspicam" type="raspicam_raw_node" name="camera">
        <param name="framerate" value="10"/>
        <param name="width" value= "640" />
        <param name="height" value="480" />
        <remap from="/camera/image" to="/camera/image_raw" />
    </node>

    <node pkg="qrcode_positioning" type="qrcode_positioning_node" args="-f /home/can/Desktop/plain/camera.ini --" name="qrcode_positioning">
    </node>
</launch>
