<launch>
    <arg name="fcu_url" default="$(arg fcu_url)" />
    <arg name="model_name" default="$(arg model_name)" />

    <include file="$(find swarm_sitl_launcher)/launch/px4_sitl.launch" >    
    <arg name="fcu_url" value="$(arg fcu_url)" />
    </include>
    <include file="$(find state_machine)/launch/local.launch" />
    <!--include file="$(find hover_controller)/launch/local.launch" /-->

    <node pkg="simulated_local_position" name="position_broadcast" type="position_broadcast.py">
        <param name="model_name" value="$(arg model_name)" />
    </node>
</launch>
