<launch>
    <node pkg="raspicam" type="raspicam_raw_node" name="camera">
        <param name="framerate" value="30"/>
        <param name="width" value= "640" />
        <param name="height" value="480" />
        <param name="format" value="LUMA" />
        <remap from="/camera/image" to="/camera/image_raw" />
    </node>

    <node pkg="qrcode_positioning" type="test_bar_code" >
    </node>
</launch>
